@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../../public/fonts/YekanBakh/fonts.css');

body {
  color: #fff;
  background: #000;
}

/* Hide controller in input numbers */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
